/* Themes */
[data-theme="light"] {

    /* Nav, background and text */
    --background-color: #f8f9fa; 
    --text-color: #212529; 
    --nav-background-color: #dee2e699;
    --hover-background-color: #e0e0e0; 
    --link-colour: #ff9eb8;

    --contrast: #e9ecefd0;
    --contrast-small-screen: #e9ecefd0;

    /* Theme toggle */
    --slider-bg-color: #5f5f5f; 
}

[data-theme="dark"] {

    /* Nav, background and text */
    --background-color: #212529; /*old#343434*/
    --text-color: #fff; 
    --nav-background-color: #343a4090; 
    --hover-background-color: #333333; 
    --link-colour: #f7a8b8;

    --contrast: #343a40d6;
    --contrast-small-screen: #000000c6;

    /* Theme Toggle */
    --slider-bg-color: #b9b9b9;
}


/* UNIVERSAL */
html, body {
    overflow-x: hidden;
  }

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.5;
    margin: 0px;
    padding-top: 55px;
    padding-right: 0px;
    position: relative
}

header, main, footer {
    display: block;
    margin: auto;
    width: 100%;
}

p a {
    color: var(--link-colour);
    text-decoration: none; 
    font-style: italic;
}

p a:hover {
    opacity: 0.7;
}

figcaption {
    margin-top: 8px;
    font-style: italic;
    font-size: 0.75em;
    text-align: center;
}


footer {
    background-color: var(--background-color);
    color:var(--text-color);
    text-align: left;
    padding: 10px 10px;
    font-size: 0.7em;
}

footer a {
    color: var(--link-colour);
    text-decoration: none;
}

footer a:hover {
    opacity: 0.7;
}

/* NAV BAR */
nav {
    width: 100%;
    position: fixed; 
    top: 0;
    background-color: var(--nav-background-color);
    display: flex;
    align-items: center; /* Center objects with text */
    z-index: 100; /* Make sure nav bar is always at the front */
}

nav div {
    display: inline-block; 
}

nav a {
    display: inline-block;
    padding: 15px 10px;
    color: var(--text-color);
    font-size: 1em;
    text-decoration: none;
}

nav a:hover {
    opacity: 0.7;
}

.home-link {
    margin-right: auto; /* Pushes everything else to the right */
}

.spacer {
    flex-grow: 1; /* Takes up available space */
}

.separator {
    margin: 0 15px; /* Adjust spacing around separator */
}

.home-icon {
    width: 30px; /* Adjust icon size as needed */
    height: 30px;
    margin-right: 40px;
}


/* Theme Toggler */
.theme-toggle-wrapper {
    display: inline-block;
    position: relative;
    margin-left: auto; 
    margin-right: 40px;
    padding-left: 10px;
    width: 35px; /* Reduced from 60px */
    height: 26px; /* Reduced from 34px */
}

.theme-toggle {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.theme-toggle input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-bg-color);
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px; /* Reduced from 26px */
    width: 19px; /* Reduced from 26px */
    left: 5px; /* Adjusted for new size */
    bottom: 3.5px; /* Adjusted for new size */
    background-color: var(--text-color);
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--slider-bg-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--slider-box-shadow-color);
}

input:checked + .slider:before {
    background-color: var(--text-color);
    transform: translateX(16px); /* Adjusted for new size */
}

.slider.round {
    border-radius: 50px;
}

.slider.round:before {
    border-radius: 50%;
}

/* LANDING HERO */
.hero {
    position: relative;
    background-image: url('media/blackhole.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 37.5vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: #fff; 
}

.hero-content blockquote {
    font-size: 1.7em; /* Make the quote large */
    font-family: 'Georgia', serif; /* Example: elegant, serif font */
    max-width: 100%; /* Limit the width of the quote to maintain readability */
    margin: auto;
    position: relative;
    z-index: 5; /* Ensure the text appears above any background overlay*/
}

/* Add a semi-transparent overlay to ensure text readability if needed */
.hero::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.221); /* Dark overlay; adjust the opacity as needed */
    z-index: 1;
}

.hero-content a {
    color: var(--link-colour); /* Color of your hyperlinks on hover */
    text-decoration: none; /* Remove underline from links */
}

.hero-content a:hover {
    opacity: 0.7;
}


/* Main writing */
.content {
    margin-top: 20px; 
    padding: 20px;
}

.content-inner {
    max-width: 550px; 
    margin: 0 auto; 
    text-align: left; 
}

/* Icons */
.social-icons {
    text-align: center; /* Center the icons container */
    padding: 5px;
}

.icons-container a {
    margin: 0 5px; /* Space out the icons */
    display: inline-block; /* Align icons in a row */
}

.icons-container svg {
    color: var(--text-color);
    width: 35px; /* Adjust the size of your icons */
    height: auto;
    vertical-align: middle; /* Aligns image nicely with text, if any */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.icons-container svg:hover {
    transform: translateY(-3px); /* Move the icon up slightly on hover */
    opacity: 0.7; /* Slightly fade the icon to indicate interactivity */
}

.thin-hr {
    border: 0.5px solid var(--text-color); /* Thin line with a light grey color */
    margin: 15px auto; /* Space above and below the line */
    width: 350px; /* Adjust the width as needed */
    display: block; /* Ensuring the element is a block-level element */
}



/* Projects */
.image-container {
    display: flex;
    justify-content: center;
}

.video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-figure {
    margin: 0 px; /* Adds spacing between the figures */
}

.project-image {
    width: 300px; /* Makes the image fill the container */
    height: auto; /* Keeps the aspect ratio of the image */
    transition: transform 0.4s ease; /* Smooth transition for scaling */
}

.project-image:hover {
    transform: scale(1.4); /* Increase size by 10% on hover */
}

.project p {
    font-size: 16px; /* Adjust this value to your preference */
}

.project ol {
    font-size: 16px; /* Adjust this value to your preference */
}

.project ul {
    font-size: 16px; /* Adjust this value to your preference */
}

.project dl {
    font-size: 16px; /* Adjust this value to your preference */
}

.heading-with-lines {
    text-align: center; /* Center the heading */
}

.heading-with-lines span {
    position: relative;
    display: inline-block;
    padding: 0 20px; /* Adjusts the spacing around the text */
}

.heading-with-lines span:before,
.heading-with-lines span:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 3px; /* Adjust the thickness of the line */
    width: 50px; /* Adjust the length of the line */
    background-color: var(--text-color); /* The color of the line */
}

.heading-with-lines span:before {
    left: -40px; /* Adjust distance from the text */
}

.heading-with-lines span:after {
    right: -40px; /* Adjust distance from the text */
}


/* LISTS */

.list-outer-container {
    position: relative; /* Ensures proper positioning for child elements */
    width: 90%; /* Adjust width as needed */
    max-width: 800px; /* Container width */
    height: 300px; /* Reduced maximum height if needed, or adjust based on content */
    margin: 0 auto;
    padding-left: 0px; /* Padding around content */
    padding-right: 0px; /* Padding around content */
    overflow: hidden; /* Hide overflow */
}

.list-item-content {
    background-color: var(--contrast); /* Light grey background */
    padding: 20px; /* Padding around the content */
    max-width: 500px;
  }
  
  /* Styles for the project title */
  .list-item-title a{
    color: var(--link-colour);
    font-size: 18px; /* Larger font size for titles */
    display: block; /* or 'inline-block' if you prefer */
    padding: 20px; /* Padding around the content */

    font-weight: bold; /* Make the title bold */
    text-decoration: none;
  }

  .list-item-title a:hover{
    opacity: 0.7;
  }

  .list-item-description {
    font-size: 14px; /* Standard font size for descriptions */
    color: var(--text-color); /* Medium grey for the description text */
    line-height: 1.7; /* Space between lines */
  }

  /* Styles for the overlapping image */
.overlapping-image {
    position: absolute; /* Absolute positioning */
    top: 0; /* Top edge alignment */
    left: 55%; /* Center the image horizontally */
    z-index: -1; /* Behind the content */
}

/* You might need to adjust the dimensions of the image */
.overlapping-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.special-margin {
    margin-top: -80px; /* Apply margin on larger screens */
}

.special-margin-2 {
    margin-top: -35px; /* Apply margin on larger screens */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {

    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative;
      }

    .image-container {
        flex-direction: column; /* Stack images vertically on small screens */
    }
    figure {
        margin: 10px; /* Adds margin around each figure */
        flex-basis: calc(50% - 20px); /* Subtract double the margin to maintain spacing */
        text-align: center; /* Center-align the caption */
    }

    .special-margin {
        margin-top: 0; /* Remove margin for smaller screens */
    }
    .special-margin-2 {
        margin-top: 0px; /* Remove margin for smaller screens */
    }

    .list-outer-container {
        position: relative; /* Ensures proper positioning for child elements */
        width: 85%; /* Adjust width as needed */
        max-width: 450px; /* Container width */
        height: 370px; /* Reduced maximum height if needed, or adjust based on content */
        margin: 0 auto;
        overflow: hidden; /* Hide overflow */
    }

    .list-item {
        position: relative; /* Set position relative to contain absolute children */
        max-width: 500px; /* Set a max width for the container */
    }
    
    .overlapping-image {
        position: absolute; /* Absolute positioning */
        width: 100%; /* Take the full width of the parent */
        height: 100%; /* Take the full height of the parent */
        top: 0; /* Align to the top of the parent */
        left: 0; /* Align to the left of the parent */
        z-index: -1; /* Place it behind the content */
        background-size: cover; /* Cover the entire area */
    }
    
    .list-item-title a {
        background-color: var(--contrast-small-screen); /* Light grey background */
        color: var(--link-colour);
        font-size: 18px; /* Larger font size for titles */
        display: block; /* Block display to take full available width */
        font-weight: bold; /* Bold font for title */
        text-decoration: none; /* No underline */
        padding: 30px; /* Padding around the content */
        margin-bottom: 0px; 

    }
    
    .list-item-content {
        height: 100%; /* Take the full height of the parent */
        background-color: var(--contrast-small-screen); /* Light grey background */
        padding: 30px; /* Padding around the content */
        padding-top: 0px; /* Padding around the content */
    }
    
}

